body {}

.noto-sans-body {
    font-family: "Noto Sans", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
}

.callout-container {
    height: 100vh;

    background: url("../images/whiskey-background.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}

/* Block divider */

.block-divider {
    width: 100px;
    background-color: beige;
    border: 0;
    height: 3px;
    margin-left: 0;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    border:0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);

}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}

.jumbotron .lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 25px 0;
    color: beige;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #ececec;
}

/* Buttons */

.btn--cta {
    font-weight:400;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color:crimson;
    border-color: crimson;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #b00f2d;
    border-color: #b00f2d;
}